.pic-bed-warp {
  position: relative;
  width: 70%;
  height: auto;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px #ddd;
  padding: 10px;
}
.pic-bed-warp .pic-bed-upload-form {
  margin: 20px 0;
}
.pic-bed-warp .pic-bed-upload-form .form-input {
  display: inline-block;
  text-decoration: none;
  min-height: 30px;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 3px;
  white-space: nowrap;
  font-size: 14px;
  line-height: 2;
}
.pic-bed-warp .pic-bed-upload-result p {
  font-size: 14px;
  line-height: 1.5;
  margin: 10px 0;
}
.pic-bed-warp .pic-bed-upload-result img {
  background: #f5f5f5;
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}
.pic-bed-warp .pic-bed-upload-result pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
}
.pic-bed-warp .pic-bed-view-list hr:first-child {
  display: none;
}
.pic-bed-warp .pic-bed-view-list p {
  font-size: 14px;
  line-height: 1.5;
  margin: 10px 0;
}
.pic-bed-warp .pic-bed-view-list img {
  width: auto;
  height: 100px;
  margin: 5px;
}
