#hello-hitokoto {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 700;
}
#framework-wrap {
  font-size: 16px;
  font-weight: 500;
}
#framework-wrap .container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  #framework-wrap .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  #framework-wrap .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  #framework-wrap .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  #framework-wrap .container {
    max-width: 1140px;
  }
}
#framework-wrap .framework-title {
  margin-bottom: 10px;
}
#framework-wrap .framework-title .title {
  font-size: 30px;
  font-weight: 700;
  color: #1d2327;
  letter-spacing: 2px;
}
#framework-wrap .framework-title .desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
#framework-wrap .framework-title .saved-success {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  color: #00a32a;
  -webkit-animation: bounce-saved 5s infinite;
}
#framework-wrap .framework-title .saved-success::before {
  content: "\f15e";
  font-family: dashicons;
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  margin-right: 10px;
}
#framework-wrap .clearfix:before,
#framework-wrap .clearfix:after {
  content: " ";
  display: table;
}
#framework-wrap .clearfix:after {
  clear: both;
}
#framework-wrap .clearfix {
  zoom: 1;
}
#framework-wrap .auto-width {
  width: auto;
  min-width: 0;
}
#framework-wrap .framework-content {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
}
#framework-wrap .framework-content .form-field {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 20px 10px;
}
#framework-wrap .framework-content .form-field .field-label {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0;
}
@media (min-width: 768px) {
  #framework-wrap .framework-content .form-field .field-label {
    width: 24%;
  }
}
#framework-wrap .framework-content .form-field .field-area {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
}
@media (min-width: 768px) {
  #framework-wrap .framework-content .form-field .field-area {
    width: 72%;
  }
}
#framework-wrap .framework-content .form-field .field-area .desc {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding-top: 10px;
}
@media (min-width: 768px) {
  #framework-wrap .framework-content .form-field .field-area .desc {
    white-space: nowrap;
  }
}
#framework-wrap .framework-content .field-group-warp .group-item {
  display: block;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 10px;
  position: relative;
}
#framework-wrap .framework-content .field-group-warp .group-item .del-item {
  display: inline-block;
  padding: 10px;
  font-size: 14px;
}
#framework-wrap .framework-content .field-group-warp .group-item .add-item {
  margin: 10px;
}
#framework-wrap .framework-content .field-group-warp .form-field .field-label {
  padding: 0;
}
#framework-wrap .framework-content .field-saved-button {
  padding: 20px 15px 10px 15px;
  margin-top: 20px;
  border-top: 2px solid #ddd;
}
#framework-wrap .framework-content .field-saved-button .button-primary {
  margin-right: 10px;
}
#framework-wrap .framework-content .field-title {
  border-bottom: 2px solid #eee;
}
#framework-wrap .framework-content .field-title .title_1,
#framework-wrap .framework-content .field-title .title_2 {
  font-size: 18px;
  line-height: 1;
  margin: 20px 0 20px 20px;
  font-weight: 700;
}
#framework-wrap .framework-content .field-title .title_1:before {
  content: " ";
  background: #1d2327;
  height: 15px;
  width: 5px;
  display: inline-block;
  border-radius: 15px;
  margin-right: 15px;
}
#framework-wrap .framework-content .field-title .title_2:before {
  content: " # ";
  display: inline-block;
  font-weight: 900;
  margin-right: 5px;
}
#framework-wrap .framework-content .field-message .content,
#framework-wrap .framework-content .field-message .success,
#framework-wrap .framework-content .field-message .dismiss,
#framework-wrap .framework-content .field-message .message,
#framework-wrap .framework-content .field-message .warning {
  width: auto;
  margin: 0;
  padding: 10px 10px;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-all;
  word-wrap: break-word;
}
#framework-wrap .framework-content .field-message .success {
  border-left: 5px solid #209b3f;
  background-color: #ccffe2;
}
#framework-wrap .framework-content .field-message .dismiss {
  border-left: 5px solid #f32160;
  background-color: #f3ddeb;
}
#framework-wrap .framework-content .field-message .message {
  border-left: 5px solid #2196f3;
  background-color: #ddffff;
}
#framework-wrap .framework-content .field-message .warning {
  border-left: 5px solid #ff9800;
  background-color: #fff3d3;
}
.framework-section .section-text .quick-input {
  width: 75%;
}
@media (min-width: 992px) {
  .framework-section .section-text .quick-input {
    width: 75%;
  }
}
.framework-section .section-textarea .quick-textarea {
  width: 95%;
  height: 200px;
}
@media (min-width: 992px) {
  .framework-section .section-textarea .quick-textarea {
    width: 75%;
    height: 150px;
  }
}
.framework-section .section-checkbox,
.framework-section .section-radio {
  position: relative;
}
.framework-section .section-checkbox .quick-checkbox,
.framework-section .section-radio .quick-checkbox,
.framework-section .section-checkbox .quick-radio,
.framework-section .section-radio .quick-radio {
  cursor: pointer;
  padding-right: 10px;
  line-height: 2;
  font-size: 14px;
  font-weight: 400;
}
.framework-section .section-switch .quick-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.framework-section .section-switch .quick-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 3px;
}
.framework-section .section-switch .quick-switch .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 3px;
}
.framework-section .section-switch .quick-switch .active {
  background-color: #2271b1;
  box-shadow: 0 0 1px #2271b1;
}
.framework-section .section-switch .quick-switch .active:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.framework-section .section-select .quick-select {
  min-width: 150px;
  font-size: 14px;
  font-weight: 400;
  padding-right: 10px;
}
.framework-section .section-upload {
  position: relative;
}
.framework-section .section-upload .quick-upload-input {
  width: 75%;
}
.framework-section .section-upload .quick-upload-button {
  margin-left: 10px;
}
.framework-section .section-tinymce .field-area {
  padding: 10px;
  width: 97% !important;
}
.framework-section .codemirror-editor .field-area {
  padding: 10px;
  width: 97% !important;
}
.framework-section .section-group_mult .field-area,
.framework-section .section-group .field-area {
  padding: 10px;
  width: 97% !important;
}
.framework-section .section-group_mult .field-group-warp,
.framework-section .section-group .field-group-warp {
  position: relative;
}
.framework-section .section-group_mult .field-group-warp .form-field,
.framework-section .section-group .field-group-warp .form-field {
  padding: 20px 15px !important;
}
.framework-section .section-group_mult .field-group-warp .field-label,
.framework-section .section-group .field-group-warp .field-label {
  margin: 0 !important;
}
.framework-section .section-group .field-group-warp {
  border-radius: 3px;
  border: 1px solid #ddd;
}
.framework-section .section-table-list {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  table-layout: auto;
}
.framework-section .section-table-list thead th {
  background-color: #00418c;
  color: #fff;
}
.framework-section .section-table-list p {
  text-align: center;
}
.framework-section .section-table-list th,
.framework-section .section-table-list td {
  border: 1px solid #eee;
  padding: 5px 0;
  word-break: break-all;
}
.framework-section .section-table-list tr:nth-child(even) {
  background-color: #eee;
}
.framework-section .section-table-list tr td:first-child {
  color: #f40;
  white-space: nowrap;
  text-align: center;
}
#scodedit-button {
  background: 0 0;
}
#scodedit-button .dashicons {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 1;
  vertical-align: middle;
  margin: 0 2px;
}
.scodedit-wrap {
  margin: 0px 10px;
}
.scodedit-wrap .scodedit-parent-select {
  width: 100%;
}
.scodedit-wrap .scodedit-parent-select label {
  margin-right: 10px;
}
.scodedit-wrap .scodedit-sub-type table {
  width: 100%;
  background: #f7f7f7;
  border-radius: 3px;
  border: 1px solid #eee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: move;
  margin-bottom: 10px;
  padding: 15px;
}
.scodedit-wrap .scodedit-sub-type table label {
  display: inline-block;
  width: 20%;
}
.scodedit-wrap .scodedit-sub-type tr {
  height: 60px;
  margin-bottom: 10px;
}
.scodedit-wrap .scodedit-sub-type td {
  padding: 10px 0;
  vertical-align: top;
}
.scodedit-wrap .scodedit-sub-type input[type="text"],
.scodedit-wrap .scodedit-sub-type textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.scodedit-wrap .scodedit-sub-type .scodedit-form-label {
  padding-top: 10px;
}
.scodedit-wrap .scodedit-sub-type .scodedit-form-desc {
  color: #7a7a7a;
  display: block;
  font-size: 12px;
  font-style: italic;
  padding-top: 3px;
}
.scodedit-wrap .scodedit-note {
  font-size: 14px;
  font-style: italic;
}
.scodedit-wrap .submit_button .button-primary {
  margin-right: 10px;
}
.tab-content .form-field {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px 0;
  line-height: 2;
  text-align: start;
}
.tab-content .form-field .field-label {
  width: 100%;
  font-weight: 600;
}
.tab-content .form-field .field-area {
  width: 100%;
  padding-top: 5px;
}
.tab-content .form-field .field-area .desc {
  display: block;
  margin: 0;
  padding-top: 5px;
  color: #646970;
}
.wp-clearfix .col-wrap .form-wrap .section-upload {
  position: relative;
}
.wp-clearfix .col-wrap .form-wrap .section-upload .quick-upload-input {
  width: 75%;
}
.wp-clearfix .col-wrap .form-wrap .section-upload .quick-upload-button {
  margin-left: 10px;
}
@-webkit-keyframes bounce-saved {
  /*创建动画*/
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(30px);
  }
  60% {
    -webkit-transform: translateX(15px);
  }
}
